.container{
    background-color: #2d2e32;
    height: 6vh;
    display: flex;
    align-items: center;
    align-content: center;
    p{  
        text-align: start;
        margin: auto;
        color: white;
        font-weight: 600;
    }
}


@media (max-width: 450px) {
    .container{
        p{
            
            font-size: 13px;
        }
    }
}