

.allProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1020px;
h2{
font-size: 2.5rem;
color: blue;
text-align: center;
}

.projectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  .panel {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    ul {
      display: flex;
      gap: 5px;
      list-style: none;
      margin-left: auto;
          margin-right: auto;
  
    li {
      background-color: #f2f2f2;
      padding: 5px 5px;
      border-radius: 5px;
      font-size: 14px;
      color: #333;
    }}
    p{
      height: 80%;
    }
    .buttons {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px 0px;
      
      .butt {
        display: flex;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        width: 22%;
        margin: 5px;
        text-decoration: none;
        color: black;
        text-align: center;
        transition: 0.3s;
        p{
          font-size: 10px;
          font-weight: 900;
          margin-left: auto;
          margin-right: auto;
        }
        .bImage{
          align-self: center;
          margin-left: 2px;
        }
        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
          transition: 0.3s; /* Transition duration set to 0.3 seconds */
        }
      }
    }
    
  }
  
  
  .slider {
    border-radius: 10px;  
    margin: 10px 10px;
  width: 65%;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.secondProjectContainer{
  flex-direction: row-reverse;
}
}

  @media (max-width: 1020px) {
    

.allProjects {
  flex-direction: column;
  width: 90%;
.projectContainer {
  flex-direction: column;
  width: 100%;
  .panel {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    .buttons {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      
      .butt {
        display: flex;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        width: 22%;
        margin: 5px;
        text-decoration: none;
        color: black;
        text-align: center;
        transition: 0.3s;
        p{
          font-size: 10px;
          font-weight: 900;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .slider {
    width: 90%;
  }
}
.secondProjectContainer{
  flex-direction: column;
}
}
  }
