.skills {
  display: flex;
  margin-top: 30px;
  .skillsContainer {
    margin: 10px 2vw;

    .skillPhoto{
      margin: 0px 9px;
    }
  }


} 


@media (max-width: 1020px) {
  
  .skills {
    .midSkillsContainer{
      display: grid;
    grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 10px; /* Gap between grid items */
    .skillPhoto{
      justify-self: center; /* Horizontally center the item */
  align-self: center;
    }
  }
  .headSkillsContainer{
    text-align: center;
  }
    .skillsContainer {
      margin: 0px;
      .skillPhoto{
        margin: 0px 9px;
      }
    }
  } 
}

@media (max-width: 539px) {
  .skillPhoto{
    height: 40px;
    width: 40px;
    margin: 0px;
  }
  .mongoIcon{
    width: 30px;
  }
}