.skills {
  display: flex;
  margin-top: 30px;
  .skillsContainer {
    margin: 10px 2vw;

    .skillPhoto{
      margin: 0px 9px;
    }
  }

  // Estilo para el último elemento con clase .skillsContainer

} 