.main {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: 100vh;

  .highlightText {
    color: blue; /* Cambia "blue" por el color que desees */
  }

  .subtitle {
    color: #474747;
    font-size: 1.2rem;
    font-weight: bold;
  }

  h1 {
    color: #1d1d1d;
    font-size: 3.3rem;
    margin: 10px 0;
  }

  a {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }

  label {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    color: #333;
    font-size: 1rem;
  }
}

.photo {
  border-radius: 100%;
}